
.social-icons a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
    padding-top:1rem;
  }
  
  .social-icons a:last-child {
    margin-right: 0;
  }
  
  .social-icons a:hover {
    background-color: #BD5D38;
  }
  
  .dev-icons {
    font-size: 3rem;
  }
  
  .dev-icons .list-inline-item i:hover {
    color: #BD5D38;
  }
  
  #sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  
  #sideNav .navbar-toggler:focus {
    outline-color: #d48a6e;
  }
  