<section class=" container resume-section mt-5  align-items-center" id="about">
    <div >
      <h1 class="mb-0">
        <span class="text-primary"> SRAVAN KUMAR NANGUNOORI</span>
      </h1>
      <div class="subheading mb-5">244 Manning Blvd,Albany,NY 12206 · (518) 8983791 ·
        <a href="mailto:snangunoori@albany.edu">snangunoori@albany.edu</a>
      </div>
      <p class="lead">I am a determined, motivated and goal oriented full stack developer with a professional experience of 3 years in a fast-paced, creative, independent and collaborative-team environment dealing with different aspects of software development ranging from Planning, Analysis, User Interface design and development, Database Design, Building Web services and Unit Testing.</p>

        <p class="lead">  Currently, I am doing my Masters in Computer Science at  University of Albany,State University of New York . I am looking for full-time opportunities to put my skills and knowledge into action in the real-world fast-paced environment. I strive to create the impact and value-add to the company I work with.</p>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/sravan-kumar-nangunoori/" class="rounded-circle w-5">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/SravanKumarNangunoori" class="rounded-circle w-5">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
  </section>
