<section class="resume-section  align-items-center" id="about">
    <div class="w-100">
      <h1 class="mb-0">SRAVAN KUMAR
        <span class="text-primary">NANGUNOORI</span>
      </h1>
      <div class="subheading mb-5">244 Manning Blvd,Albany,NY 12206 · (518) 8983791 ·
        <a href="mailto:snangunoori@albany.edu">snangunoori@albany.edu</a>
      </div>
      <p class="lead mb-5">I am an experienced professional full stack developer  with a demonstrated history of 3 years of work experience in a fast-paced, independent and collaborative-team environment dealing with different aspects of software development ranging from  User Interface design,Database Design, Building Webservices and Unit Testing.</p>

        <p class="lead mb-5">  Currently, I am doing my Masters in Computer Science at  University of Albany,State University of New York . I am looking for full-time opportunities to put my skills and knowledge into action in the real-world fast-paced environment. I strive to create the impact and value-add to the company I work with.</p>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/sravan-kumar-nangunoori/">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/SravanKumarNangunoori">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
  </section>
