
.social-icons a {
    display: inline-block;
    color: #fff !important;
    text-align: center;
    font-size: 2rem;
    margin-right: 1rem;
    height: 3rem;
    width: 3rem;
    padding-top: 0.5rem;
    background-color: #6A9DFD;
  }
  
  .social-icons a:last-child {
    margin-right: 0;
  }
  
  .social-icons a:hover {
    background-color: #6A9DFD;
  }
  
  .dev-icons {
    font-size: 3rem;
  }
  
  .dev-icons .list-inline-item i:hover {
    color: #6A9DFD;
  }
  
  #sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  
  #sideNav .navbar-toggler:focus {
    outline-color: #d48a6e;
  }
  