<section class="resume-section container-fluid mt-3 justify-content-center" id="experience">
  <div class="w-100">

    <div class="resume-item d-flex mt-3 flex-column flex-md-row justify-content-between row">
      <div class="resume-content col-lg-10">
        <h4 class="mb-0 text-primary">Full stack Developer,Graduate Research Assistant</h4>
      </div>
      <div class="resume-date text-md-right col-lg-2">
        <span class="text-primary">Jan 2019 - Present</span>
      </div>
      <div class="col-lg-12">
        <div class="subheading mb-3">Software Engineering Research Group – University at Albany </div>
        <li> Working as full stack web developer responsible for design, development and enhancement of features for
          Knowledge Forum-6 and Knowledge Building Data Analytics center based on the business requirements.
        </li>
        <li> Enhancement of user interface to speed up interaction time for a user and incorporated complex program
          changes for the better performance along with critical bug fixes.
        </li>
        <li> Implemented LTI authentication for Knowledge Forum-6 to be accessed within an LMS (Learning Management
          System) like Blackboard and Canvas with a single sign on.
        </li>
        <li> Responsibilities also include implementing procedures for design, code, unit test and configuration of
          applications following Agile development lifecycle.
        </li>
        <li> Technologies: JavaScript, Angular JS, ReactJS, React Native, Node.js, Express JS, MongoDB, D3.js, jQuery,
          HTML5, CSS3, Bootstrap3
        </li>
        <li> Tools: Git, JIRA, SourceTree
        </li>
        <li>Methodology: Agile Development</li>
      </div>
    </div>

    <div class="resume-item d-flex flex-column  mt-4 flex-md-row justify-content-between row ">
      <div class="resume-content col-lg-10">
        <h4 class="mb-0 text-primary"> Software Engineer</h4>
      </div>
      <div class="resume-date text-md-right col-lg-2">
        <span class="text-primary">July 2016 - July 2018</span>
      </div>
      <div class="col-lg-12">
        <div class="subheading mb-3">Mindtree Limited</div>
        <!-- <li>	Research, Design and develop scalable web applications meeting requirements of Banking, Financial services and Insurance clients for smooth transaction of their operations.</li>
            <li>	Develop software solutions by studying information needs and investigating problem areas for better performance following the agile development lifecycle.</li>
            <li>	Contributed in development of core Angular modules for organization’s private repository.</li>
            <li>	Worked closely with Mindtree Orchard Program training new hired undergraduates.
            </li>  -->

        <li> Research, Design and develop scalable web applications meeting requirements of Banking, Financial services
          and Insurance clients for smooth transaction of their operations.
        </li>
        <li>Develop, Design and troubleshoot software solutions by understanding specifications and investigating
          problem areas using my business knowledge.
        </li>
        <li>Contributed in development of Angular component library and published as npm packages with documentation for
          future references.
        </li>
        <li> Migrated web application from AngularJS to Angular increasing the performance and supporting mobile
          devices.
        </li>
        <li>Developed and Demonstrated Proof of concepts for clients offering sustainable solutions for their
          requirements and was awarded UNSTOPPABLE award by Mindtree for my contributions.
        </li>
        <li>Engaging with Mindtree Orchard Program for training and mentoring new hired undergraduates in Angular,
          NodeJS, and MongoDB.
        </li>
        <li>Technologies: JavaScript, Angular, NodeJS, ExpressJS, MongoDB, D3.js, jQuery, HTML5, CSS3, Bootstrap3, Java,
          Spring MVC
        </li>
        <li>Tools: Git, SVN, Scrum wise, VersionOne
        </li>
        <li>Methodology: Agile Development</li>

      </div>
    </div>




  </div>

</section>