<section class="resume-section justify-content-center" id="experience">
    <div class="w-100">
      <h2 class="mb-5">Experience</h2>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5 row">
        <div class="resume-content col-lg-10">
          <h3 class="mb-0">Graduate Research Assistant</h3>
        </div>
        <div class="resume-date text-md-right col-lg-2">
            <span class="text-primary">Jan 2019 - Present</span>
          </div>
          <div class="col-lg-12" >
          <div class="subheading mb-3">Software Engineering Research Group – University at Albany </div>
          <li>	Working as full stack web developer responsible for development and enhancement of core modules widely used over different research applications of the Computer Science Department. </li>
            <li>	Responsibilities include implementing procedures for designing, coding and configuration of Knowledge Building Innovation Network & Knowledge Forum web and mobile applications along with documentation for consuming API endpoints following Agile methodology.</li>
            <li>	 Customization and Enhancement of user interface for the better performance along with critical bug fixes.
            
            </li>  
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between row ">
        <div class="resume-content col-lg-10">
          <h3 class="mb-0">  Software Engineer</h3>
        </div>
        <div class="resume-date text-md-right col-lg-2">
            <span class="text-primary">July 2016 - July 2018</span>
          </div>
          <div class="col-lg-12" >
          <div class="subheading mb-3">Mindtree Limited</div>
          <li>	Research, Design and develop scalable web applications meeting requirements of Banking, Financial services and Insurance clients for smooth transaction of their operations.</li>
            <li>	Develop software solutions by studying information needs and investigating problem areas for better performance following the agile development lifecycle.</li>
            <li>	Contributed in development of core Angular modules for organization’s private repository.</li>
            <li>	Worked closely with Mindtree Orchard Program training new hired undergraduates.
            </li> </div>
      </div>
      



    </div>

  </section>