<section class="resume-section justify-content-center" id="experience">
    <div class="w-100">
      <h2 class="mb-5">Projects</h2>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5 row">
        <div class="resume-content col-lg-10">
          <h3 class="mb-0">Lance Detection </h3>
        </div>
        <div class="resume-date text-md-right col-lg-2">
            <span class="text-primary">Aug 2019 - Dec 2019</span>
          </div>
          <div class="col-lg-12" >
         <p>Developed a python application which detects traffic in a lane for smooth transition of autonomous vehicles. It employs convolution neural network and reinforcement learning algorithm to train a model to detect traffic in a lane.</p>
        </div>
      </div>
      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5 row">
        <div class="resume-content col-lg-10">
          <h3 class="mb-0">Movie Recommendation System  </h3>
        </div>
        <div class="resume-date text-md-right col-lg-2">
            <span class="text-primary">Jan 2019 -May 2019</span>
          </div>
          <div class="col-lg-12" >
         <p>Developed a python application which recommends movies based on collaborative filtering of movies based on a user’s preferences.</p>
        </div>
      </div>
      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5 row">
        <div class="resume-content col-lg-10">
          <h3 class="mb-0">SportsWatch </h3>
        </div>
        <div class="resume-date text-md-right col-lg-2">
            <span class="text-primary">Aug 2018 - Dec 2018</span>
          </div>
          <div class="col-lg-12" >
         <p>Developed a web application which provides match updates about user’s favorite NBA teams, statistics of different players and rankings of the teams. The application is built using Spring MVC and jQuery.</p> </div>
      </div>
      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5 row">
        <div class="resume-content col-lg-10">
          <h3 class="mb-0">Emergency Request Manager </h3>
        </div>
        <div class="resume-date text-md-right col-lg-2">
            <span class="text-primary">Aug 2018 - Dec 2018</span>
          </div>
          <div class="col-lg-12" >
         <p>
            Emergency Request Manager (Software Engineering, Aug 2018- Dec 2018): Developed a MEAN stack web application to identify location of a user in medical emergency and share it  to nearest hospital for medical assistance and manage emergency blood requirements between various hospitals and blood bank for smooth transactions of blood between hospitals and blood banks.
         </p>             </div>
      </div>

      



    </div>

  </section>