<section class="resume-section justify-content-center" id="experience">
    <div class="w-100">
      <div class="resume-item d-flex flex-column flex-md-row justify-content-between row">
        <div class="resume-content col-lg-10">
          <h3 class="mb-0 text-primary">Lane Detection </h3>
        </div>
        <div class="resume-date text-md-right col-lg-2">
          </div>
          <div class="col-lg-12" >
         <p>Developed a python application which detects traffic in a lane for smooth transition of autonomous vehicles. It employs convolution neural network and reinforcement learning algorithm to train a model to detect traffic in a lane.</p>
        </div>
      </div>
      <div class="resume-item d-flex flex-column flex-md-row justify-content-between row">
        <div class="resume-content col-lg-10">
          <h3 class="mb-0 text-primary">Movie Recommendation System  </h3>
        </div>
        <div class="resume-date text-md-right col-lg-2">
          </div>
          <div class="col-lg-12" >
         <p> Developed a web application using ReactJS and python flask. The application recommends movies to a user based on collaborative filtering of movies based on user preferences.</p>  </div>
      </div>
      <div class="resume-item d-flex flex-column flex-md-row justify-content-between row">
        <div class="resume-content col-lg-10">
          <h3 class="mb-0 text-primary">SportsWatch </h3>
        </div>
        <div class="resume-date text-md-right col-lg-2">
          </div>
          <div class="col-lg-12" >
         <p>Developed a web application which provides updates about user’s favorite NBA teams, statistics of different players and rankings of the teams. The application is built using Spring MVC and jQuery.</p>  </div>
      </div>
         <div class="resume-item d-flex flex-column flex-md-row justify-content-between row">
        <div class="resume-content col-lg-10">
          <h3 class="mb-0 text-primary">Emergency Request Manager </h3>
        </div>
        <div class="resume-date text-md-right col-lg-2">
          </div>
          <div class="col-lg-12" >
         <p> Developed a MEAN stack web application to identify location of a user in medical emergency and share it  to nearest hospital for medical assistance and manage emergency blood requirements between various hospitals and blood bank for smooth transactions of blood between hospitals and blood banks.
         </p>             </div>
      </div>
      <div class="resume-item d-flex flex-column flex-md-row justify-content-between row">
        <div class="resume-content col-lg-10">
          <h3 class="mb-0 text-primary">BlogME </h3>
        </div>
        <div class="resume-date text-md-right col-lg-2">
          </div>
          <div class="col-lg-12" >
         <p>Developed a MEAN stack blogging application where different users can write blogs with pictures and videos. The application notifies a user using google chrome push notifications and
          email notifications when a new article of his interest’s is published.
              </p>             </div></div>
      </div>
 

  </section>